@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
}

.skillItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0);
    position: relative; /* Needed for absolute positioning of the glow effect */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

  }

.skillItem:hover {
    background-color:  rgba(255, 255, 255, 15%);
  }

.skillItem img{
    width: 50px;
}

.progressBarBackground{
    margin-top: 5px;
    width: 300px;
    height: 7px;
    border-radius: 7px;
    background: #3b3b3b;
}

.progressBar {
    height: 100%;
    border-radius: 7px;
    transition: box-shadow 0.3s ease; /* Smooth transition for glow effect */
}

