@import "../../vars.css";

.container{
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    margin-bottom: 20px;
}

.gridContainer {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr)); /* Adjust the minmax value for column width */
    gap: 10px; /* Adjust the gap between items as needed */
  }
 


.skillItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    padding: 12px;
    transition: background-color 0.3s ease;
  }

.skillItem:hover {
    background-color:  rgba(255, 255, 255, 15%);
  }

.skillItem:hover .imgdiv {
    transform: scale(1.1) ;
}
.imgdiv {
    transition: transform 0.3s;
  }


.skillItem img{
    width: 50px;
}

.progressBarBackground{
    margin-top: 5px;
    width: 300px;
    height: 7px;
    border-radius: 7px;
    background: #3b3b3b;
}

.progressBar {
    height: 100%;
    border-radius: 7px;
}

/* Ensure only up to 2 columns fit within the viewport */
@media (min-width: 920px) { /* 2 * 400px + gap space; adjust gap as needed */
    .gridContainer {
      grid-template-columns: repeat(2, 400px);
    }
  }

